In [1]:
import pandas as pd
import numpy as np

In [3]:
pwd

'/mnt/md0/sources/HuyBQ/LOCA/data_log'

In [2]:
df1 = pd.read_csv("log_film_0601_0605.csv")
print(df1.shape)
df2 = pd.read_csv("log_film_0605_0610.csv")
print(df2.shape)
df3 = pd.read_csv("log_film_0610_0615.csv")
print(df3.shape)
df4 = pd.read_csv("log_film_0615_0620.csv")
print(df4.shape)
df = pd.concat([df1, df2, df3, df4], axis = 0)
df = df.reset_index()
df

(941610, 9)

/home/admin1/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3221: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(1331189, 9)
(1574187, 9)
(1200599, 9)

,index,user_id,profile_id,content_id,watch_duration,lognum,pause_count,seek_count,change_volumn_count,partition
0,0,0,0.0,483094.0,1320.0,3,0,70,0,20220601
1,1,0,0.0,32471.0,1440.0,1,0,3,0,20220601
2,2,0,0.0,24866.0,630.0,3,0,94,0,20220601
3,3,100097419,100177477.0,13637.0,30.0,1,0,1,0,20220601
4,4,104424532,104510542.0,338206.0,1020.0,2,0,0,0,20220601
...,...,...,...,...,...,...,...,...,...,...
5047580,1200594,145392676,145524955.0,419734.0,2739.0,1,1,0,0,20220619
5047581,1200595,27503548,27530368.0,6755.0,300.0,1,0,1,0,20220619
5047582,1200596,62590363,62632510.0,29087.0,60.0,1,0,1,0,20220619
5047583,1200597,62590363,62632510.0,594794.0,30.0,1,0,0,0,20220619
5047584,1200598,111300190,111395617.0,616394.0,1920.0,1,0,0,0,20220619

In [14]:
df.columns

Index(['index', 'user_id', 'profile_id', 'content_id', 'watch_duration',
       'lognum', 'pause_count', 'seek_count', 'change_volumn_count',
       'partition'],
      dtype='object')

In [17]:
df[df["watch_duration"] >= 300].shape

(2441798, 10)

In [6]:
data = df[df["watch_duration"] >= 300]
data = data.rename(columns = {"content_id": "movie_id", "watch_duration":"time"})
data = data[["user_id","movie_id","time"]]
data

TypeError: 'int' object is not subscriptable